@font-face {
    font-family: Lato;
    src: url('fonts/Lato-Hairline.ttf') format('ttf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: Lato;
    src: url('fonts/Lato-HairlineItalic.ttf') format('ttf');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: Lato;
    src: url('fonts/Lato-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Lato;
    src: url('fonts/Lato-LightItalic.ttf') format('ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: Lato;
    src: url('fonts/Lato-Regular.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Lato;
    src: url('fonts/Lato-Italic.ttf') format('ttf');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: Lato;
    src: url('fonts/Lato-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Lato;
    src: url('fonts/Lato-BoldItalic.ttf') format('ttf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: Lato;
    src: url('fonts/Lato-Black.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Lato;
    src: url('fonts/Lato-BlackItalic.ttf') format('ttf');
    font-weight: 900;
    font-style: italic;
}
