@import '_variables';

// Grid Calculations
@function col-width($numWidth) {
    @return ($numWidth / $num-columns)* 100%;
}

@mixin col($numWidth) {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-left: $col-compensation;
    padding-right: $col-compensation;
    flex-basis: col-width($numWidth);
    max-width: col-width($numWidth);
}

@mixin col-offset($numOffset) {
    margin-left: col-width($numOffset);
}

// Top level
.container-fluid, .container {
    margin-left: auto;
    margin-right: auto;
}
  
.container-fluid {
    padding-left: $outer-gutter;
    padding-right: $outer-gutter;
}
  
.row {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: $row-compensation;
    margin-right: $row-compensation;

    &.reverse {
        flex-direction: row-reverse;
    }
}

// Global modifiers
.col-reverse {
    flex-direction: column-reverse;
}
.content-start {
    justify-content: flex-start;
    text-align: start;
}
.content-center {
    justify-content: center;
    text-align: center;
}
.content-end {
    justify-content: flex-end;
    text-align: end;
}
.items-top {
    align-items: flex-start;
}
.items-middle {
    align-items: center;
}
.items-bottom {
    align-items: flex-end;
}
.top {
    align-self: flex-start;
}
.middle {
    align-self: center;
}
.bottom {
    align-self: flex-end;
}
.around {
    justify-content: space-around;
}
.between {
    justify-content: space-between;
}
.first {
    order: -1;
}
.last {
    order: 1;
}
.hidden {
    display: none;
}
.visible {
    display: block;
}

// XS classes
.col-xs {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}
.col-xs-1 {
    @include col(1);
}
.col-xs-2 {
    @include col(2);
}
.col-xs-3 {
    @include col(3);
}
.col-xs-4 {
    @include col(4);
}
.col-xs-5 {
    @include col(5);
}
.col-xs-6 {
    @include col(6);
}
.col-xs-7 {
    @include col(7);
}
.col-xs-8 {
    @include col(8);
}
.col-xs-9 {
    @include col(9);
}
.col-xs-10 {
    @include col(10);
}
.col-xs-11 {
    @include col(11);
}
.col-xs-12 {
    @include col(12);
}
.col-xs-offset-1 {
    @include col-offset(1);
}
.col-xs-offset-2 {
    @include col-offset(2);
}
.col-xs-offset-3 {
    @include col-offset(3);
}
.col-xs-offset-4 {
    @include col-offset(4);
}
.col-xs-offset-5 {
    @include col-offset(5);
}
.col-xs-offset-6 {
    @include col-offset(6);
}
.col-xs-offset-7 {
    @include col-offset(7);
}
.col-xs-offset-8 {
    @include col-offset(8);
}
.col-xs-offset-9 {
    @include col-offset(9);
}
.col-xs-offset-10 {
    @include col-offset(10);
}
.col-xs-offset-11 {
    @include col-offset(11);
}
.start-xs {
    justify-content: flex-start;
    text-align: start;
}
.center-xs {
    justify-content: center;
    text-align: center;
}
.end-xs {
    justify-content: flex-end;
    text-align: end;
}
.top-xs {
    align-items: flex-start;
}
.middle-xs {
    align-items: center;
}
.bottom-xs {
    align-items: flex-end;
}
.around-xs {
    justify-content: space-around;
}
.between-xs {
    justify-content: space-between;
}
.first-xs {
    order: -1;
}
.last-xs {
    order: 1;
}
.hidden-xs {
    display: none;
}
.visible-xs {
    display: block;
}

// SM classes
@media(min-width: $screen-sm-min) {
    .container {
        width: $container-sm;
    }
    .col-sm {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
    }
    .col-sm-1 {
        @include col(1);
    }
    .col-sm-2 {
        @include col(2);
    }
    .col-sm-3 {
        @include col(3);
    }
    .col-sm-4 {
        @include col(4);
    }
    .col-sm-5 {
        @include col(5);
    }
    .col-sm-6 {
        @include col(6);
    }
    .col-sm-7 {
        @include col(7);
    }
    .col-sm-8 {
        @include col(8);
    }
    .col-sm-9 {
        @include col(9);
    }
    .col-sm-10 {
        @include col(10);
    }
    .col-sm-11 {
        @include col(11);
    }
    .col-sm-12 {
        @include col(12);
    }
    .col-sm-offset-1 {
        @include col-offset(1);
    }
    .col-sm-offset-2 {
        @include col-offset(2);
    }
    .col-sm-offset-3 {
        @include col-offset(3);
    }
    .col-sm-offset-4 {
        @include col-offset(4);
    }
    .col-sm-offset-5 {
        @include col-offset(5);
    }
    .col-sm-offset-6 {
        @include col-offset(6);
    }
    .col-sm-offset-7 {
        @include col-offset(7);
    }
    .col-sm-offset-8 {
        @include col-offset(8);
    }
    .col-sm-offset-9 {
        @include col-offset(9);
    }
    .col-sm-offset-10 {
        @include col-offset(10);
    }
    .col-sm-offset-11 {
        @include col-offset(11);
    }
    .start-sm {
        justify-content: flex-start;
        text-align: start;
    }
    .center-sm {
        justify-content: center;
        text-align: center;
    }
    .end-sm {
        justify-content: flex-end;
        text-align: end;
    }
    .top-sm {
        align-items: flex-start;
    }
    .middle-sm {
        align-items: center;
    }
    .bottom-sm {
        align-items: flex-end;
    }
    .around-sm {
        justify-content: space-around;
    }
    .between-sm {
        justify-content: space-between;
    }
    .first-sm {
        order: -1;
    }
    .last-sm {
        order: 1;
    }
    .hidden-sm {
        display: none;
    }
    .visible-sm {
        display: block;
    }
}

// MD classes
@media(min-width: $screen-md-min) {
    .container {
        width: $container-md;
    }
    .col-md {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
    }
    .col-md-1 {
        @include col(1);
    }
    .col-md-2 {
        @include col(2);
    }
    .col-md-3 {
        @include col(3);
    }
    .col-md-4 {
        @include col(4);
    }
    .col-md-5 {
        @include col(5);
    }
    .col-md-6 {
        @include col(6);
    }
    .col-md-7 {
        @include col(7);
    }
    .col-md-8 {
        @include col(8);
    }
    .col-md-9 {
        @include col(9);
    }
    .col-md-10 {
        @include col(10);
    }
    .col-md-11 {
        @include col(11);
    }
    .col-md-12 {
        @include col(12);
    }
    .col-md-offset-1 {
        @include col-offset(1);
    }
    .col-md-offset-2 {
        @include col-offset(2);
    }
    .col-md-offset-3 {
        @include col-offset(3);
    }
    .col-md-offset-4 {
        @include col-offset(4);
    }
    .col-md-offset-5 {
        @include col-offset(5);
    }
    .col-md-offset-6 {
        @include col-offset(6);
    }
    .col-md-offset-7 {
        @include col-offset(7);
    }
    .col-md-offset-8 {
        @include col-offset(8);
    }
    .col-md-offset-9 {
        @include col-offset(9);
    }
    .col-md-offset-10 {
        @include col-offset(10);
    }
    .col-md-offset-11 {
        @include col-offset(11);
    }
    .start-md {
        justify-content: flex-start;
        text-align: start;
    }
    .center-md {
        justify-content: center;
        text-align: center;
    }
    .end-md {
        justify-content: flex-end;
        text-align: end;
    }
    .top-md {
        align-items: flex-start;
    }
    .middle-md {
        align-items: center;
    }
    .bottom-md {
        align-items: flex-end;
    }
    .around-md {
        justify-content: space-around;
    }
    .between-md {
        justify-content: space-between;
    }
    .first-md {
        order: -1;
    }
    .last-md {
        order: 1;
    }
    .hidden-md {
        display: none;
    }
    .visible-md {
        display: block;
    }
}

// LG classes
@media(min-width: $screen-lg-min) {
    .container {
        width: $container-lg;
    }
    .col-lg {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
    }
    .col-lg-1 {
        @include col(1);
    }
    .col-lg-2 {
        @include col(2);
    }
    .col-lg-3 {
        @include col(3);
    }
    .col-lg-4 {
        @include col(4);
    }
    .col-lg-5 {
        @include col(5);
    }
    .col-lg-6 {
        @include col(6);
    }
    .col-lg-7 {
        @include col(7);
    }
    .col-lg-8 {
        @include col(8);
    }
    .col-lg-9 {
        @include col(9);
    }
    .col-lg-10 {
        @include col(10);
    }
    .col-lg-11 {
        @include col(11);
    }
    .col-lg-12 {
        @include col(12);
    }
    .col-lg-offset-1 {
        @include col-offset(1);
    }
    .col-lg-offset-2 {
        @include col-offset(2);
    }
    .col-lg-offset-3 {
        @include col-offset(3);
    }
    .col-lg-offset-4 {
        @include col-offset(4);
    }
    .col-lg-offset-5 {
        @include col-offset(5);
    }
    .col-lg-offset-6 {
        @include col-offset(6);
    }
    .col-lg-offset-7 {
        @include col-offset(7);
    }
    .col-lg-offset-8 {
        @include col-offset(8);
    }
    .col-lg-offset-9 {
        @include col-offset(9);
    }
    .col-lg-offset-10 {
        @include col-offset(10);
    }
    .col-lg-offset-11 {
        @include col-offset(11);
    }
    .start-lg {
        justify-content: flex-start;
        text-align: start;
    }
    .center-lg {
        justify-content: center;
        text-align: center;
    }
    .end-lg {
        justify-content: flex-end;
        text-align: end;
    }
    .top-lg {
        align-items: flex-start;
    }
    .middle-lg {
        align-items: center;
    }
    .bottom-lg {
        align-items: flex-end;
    }
    .around-lg {
        justify-content: space-around;
    }
    .between-lg {
        justify-content: space-between;
    }
    .first-lg {
        order: -1;
    }
    .last-lg {
        order: 1;
    }
    .hidden-lg {
        display: none;
    }
    .visible-lg {
        display: block;
    }
}
