@import '_variables';

// height
.h-100 {
    height: 100%;
}
.h-75 {
    height: 75%;
}
.h-50 {
    height: 50%;
}
.h-25 {
    height: 25%;
}

// Margin and Padding
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}
.m-auto {
    margin: auto;
}
.px-auto {
    padding-left: auto;
    padding-right: auto;
}
.py-auto {
    padding-top: auto;
    padding-bottom: auto;
}
.p-auto {
    padding: auto;
}

// display
.d-flex {
    display: flex;
}
.d-block {
    display: block;
}
.d-inline{
    display: inline;
}
.d-inlineblock {
    display: inline-block;
}
.hidden {
    display: none;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
