// root font size
$root-font-size: 10px; // 1rem = 10px;

// Colors
$main_color: #3fbae8;
$error_color: #d9534f;
$success-color: #449d44;

// Scaffolding
$base-border-radius: 0.5rem;

// GRID VARS
$num-columns: 12;

$gutter: 1rem;
$outer-gutter: 2rem;
$row-compensation: -0.5rem;
$col-compensation: 0.5rem;

$screen-xs-min: 0;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
