<div class="container h-100">
    <div class="row page-row h-100">
        <div class="col-xs-12 col-sm-8 col-md-6 mx-auto">
            <div class="login-form-container">
                <h1 class="form-title">Log in</h1>
                <form [formGroup]="form" (submit)="login()">
                    <input-group
                        id="txtEmail"
                        type="email"
                        name="email"
                        [formControl]="formControls['email']"
                        label="Email"
                        placeholder="Email"
                        autocomplete="email"
                    ></input-group>
                    <input-group
                        id="txtPassword"
                        type="password"
                        name="password"
                        [formControl]="formControls['password']"
                        label="Password"
                        placeholder="Password"
                        autocomplete="current-password"
                    ></input-group>
                    <button class="btn btn-success d-inlineblock" type="submit" [disabled]="form.invalid">Log In</button>
                    <a [routerLink]="['/signup']" class="d-inlineblock pull-right">Sign up instead</a>
                </form>
                <span class="error-text" *ngIf="serverError?.length">{{serverError}}</span>
            </div>
        </div>
    </div>
</div>
