@import '_variables';
@import '_mixins';

.toast-container {
    @include shadow();
    border-radius: $base-border-radius;
    display: block;
    background-color: #fff;
    min-width: 20rem;
    min-height: 5rem;
    max-height: 10rem;
    padding: 1rem 2rem;
    background-position: 0.5rem 50%;
    background-size: 3rem 3rem;
    background-repeat: no-repeat;

    &.dismissable {
        cursor: pointer;
    }

    &.error-toast {
        background-color: $error-color;
        background-image: url('/assets/images/x-o.svg');
    }

    &.warning-toast {
        background-color: $warning-color;
        background-image: url('/assets/images/bang-o.svg');
    }

    &.info-toast {
        background-color: $info-color;
        background-image: url('/assets/images/logo-flat.svg');
        color: #fff;
    }

    &.success-toast {
        background-color: $success-color;
        background-image: url('/assets/images/check-o.svg');
    }

    .toast-content {
        margin-left: 2.5rem;

        .toast-title {
            font-weight: 600;
            margin: 0.5rem 0;
            font-size: 1.6rem;
        }
    
        .toast-message {
            font-weight: 400;
            margin: 0.5rem 0;
            font-size: 1.4rem;
        }
    }
}
